
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">


				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2" style="background-position: center 0px; background-image: url('static/images/pic07.jpg');">
						<div class="inner">
							<span class="image">
								<img src="{{ url_for('static', filename='images/pic07.jpg') }}" />
							</span>
              <style>
                .myDiv {  
                  text-align: center;
                }
              </style>
              <div class="myDiv">
                <h2>Becasue you picked {{ track_name }}</h2>
                <h2>we recommend this 5 songs.</h2>
              
              
                <div>
                  <form method='POST'>
                    {% for track in tracks %}
                    <span style="color:green" class="static"></span>{{ track }}|</span>
                    {% endfor %}
                  </form> 
                  </p>
                </div>
              </div>
							
            <footer>
              <p style="text-align:center;">
                <a href="{{ url_for('root') }}" class="button">HOME</a></li>
              <p style="text-align:center;">
                <a href="{{ url_for('about') }}" class="button">ABOUT</a></li>
            </footer>
					</section>




		<!-- Scripts -->
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
