<div class='myDiv'>
    <h2>ABOUT</h2>

    <h4>APP FUNCTIONALITY DESCRIPTION</h4>
        <p> the spotify playlist recommendation app is to be able to receive input from the user 
            (track name) and provide a recommendation of 5 songs they would like to have on their 
            playlist based on the their song choice.</p>

    <h4>THE DATA</h4>
        <p>The dataset for this project was gotten from the Kaggle Spotify competition.
        In addition to the artist name, song title and year of release, the data contained the following features which eventually became the defining features for our predictive model.
        **'acousticness', 'danceability', 'duration_ms', 'energy', 'explicit',
        'instrumentalness', 'key', 'liveness', 'loudness', 'mode',
        'popularity', 'speechiness', 'tempo', 'valence'**</p>
        <p>Our dataset had over 1.2million songs and their accompanying features.</p>

    <h4>PROBLEMS DESCRIPTION</h4>
        <p>In order to be able to utilize this dataset, we had to go with an unsupervised learning algorithm seeing as our data had no labels.
        We went with the K-nearest-neighbor machine learning algorithm as our algorithm of choice for this problem.
        Our app was built using Flask as its development framework for the front end and SQLAlchemy for handling the database end.</p>

    <h4>RUNNING OUR APP LOCALLY</h4>
        <p>Pull the repo into your local machine using git clone.</p>
        <p>Run: export FLASK_APP=app.py</p>
        <p>cd into your spotify_suggest/spotify directory</p>
        <p>Run: flask run</p>

    <h4>CREDITS</h4>
        <p>This project was made possible by the following contributors:</p>
        <p><a href= 'https://github.com/'> Angello Reyes</a></p>
        <p><a href= 'https://github.com/'> Samuel Egbert</a></p>
        <p><a href= 'https://github.com/'> name</a></p>
        <p><a href= 'https://github.com/'> name</a></p>
</div>

